<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>upload.location</param-name>
        <param-value>C:\Users\Samuele\Desktop\uploads</param-value>
    </context-param>

    <filter-mapping>
        <filter-name>AuthChecker</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EmployeeChecker</filter-name>
        <servlet-name>EmployeeHomeServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ManagerChecker</filter-name>
        <servlet-name>ManagerHomeServlet</servlet-name>
        <servlet-name>ManagerOpeningDeleteServlet</servlet-name>
        <servlet-name>ManagerOpeningEditServlet</servlet-name>
        <servlet-name>ManagerStoreInfoEditServlet</servlet-name>
        <servlet-name>ManagerStoreInfoServlet</servlet-name>
        <servlet-name>ManagerTicketDeleteServlet</servlet-name>
        <servlet-name>ManagerTicketListServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminChecker</filter-name>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-name>AdminStoreAddServlet</servlet-name>
        <servlet-name>AdminStoreDetailServlet</servlet-name>
        <servlet-name>AdminStoreListServlet</servlet-name>
    </filter-mapping>
</web-app>